<div *ngIf="!calls.length">загрузка данных</div>
<table class="dialogue-view" *ngIf="calls.length">
  <thead>
    <tr>
      <td>Название среза</td>
      <template ngFor let-col [ngForOf]="columns">
        <td [innerHTML]="col.title"></td>
      </template>
      <td>Тип</td>
      <td>Оценка разговора</td>
      <td>Запись разговора</td>
    </tr>
  </thead>
  <tbody dialogue-item *ngFor="let call of calls" [call]="call" [isOpen]="currentOpen === call.id" (onToggled)="toggleItem(call.id)">
  </tbody>
</table>
Скачать в виде .xls таблицы
