<tr>
  <td>{{ call.name }}</td>
  <template ngFor let-colValue [ngForOf]="call.tableValues">
    <td [innerHTML]="colValue"></td>
  </template>
  <td><label-call-direction [isIncoming]="call.isIncoming"></label-call-direction></td>
  <td><label-grade [grade]="call.grade"></label-grade></td>
  <td><span class="dialogue-tbl-info-trigger" (click)="switchDetails()" i18n>{{ (isOpen ? "Hide" : "Show") }}</span></td>
</tr>
<tr *ngIf="isOpen">
  <td [attr.colspan]="call.tableValues.length + 4">
    <app-dialogue-details [call]="call"></app-dialogue-details>
  </td>
</tr>
