
/*=============================info styles=============================*/
.dialogue-info
{
  overflow-y: auto;
  border: 1px solid #d7d7d7;
  height:462px;
  font-weight: 400;
  background-color: #efefef;
}

.dialogue-info tr
{
  border-top: solid 1px #ebebeb;
}
.dialogue-info tr:first-child
{
  border-top-width: 0px;
}

.dialogue-info td
{
  background-color: white;
  margin-top:1px;
  padding-left:20px;
  padding-right:20px;
  height:40px;
  font-size:14px;
}

.dialogue-info tr:hover td
{
  background: repeating-linear-gradient(90deg,#f5f9ff,#f5f9ff 1px,#ffffff 1px ,#ffffff 4px);
}

.dialogue-info tr:first-child td
{
  margin-top:0px;
}
.dialogue-info table
{
  width: 100%;
}

.dialogue-info-group
{
  font-weight: 600;
  font-size:13px;
}

.dialogue-info td:first-child
{
  padding-left: 90px;
}

.dialogue-info-group td:first-child
{
  padding-left: 9px;
}

.dialogue-info-group img
{
  margin-right:14px;
  margin-bottom:2px;
  margin-left:5px;
  cursor: pointer;
}
.dialogue-info-progress
{
  min-width:100px;
  height:5px;
  padding-top:-3px;
  float: right;
  width: 200px;
}