<h3>Основные проблемы разговора</h3>
<div class = "dialogue-info">
  <table>
    <tbody class="dialogue-info-only-first">
      <template ngFor let-detail [ngForOf]="details">
        <tr class="dialogue-info-group">
          <td colspan="2"><img src="assets/img/{{ (!open[detail.title] ? 'open' : 'close') }}.png" alt="show" (click)="open[detail.title] = !open[detail.title]" />{{ detail.title }}</td>
          <td>
            <div class="progress dialogue-info-progress">
              <div [style.background-color]="gradeToColor(detail.grade)" class="progress-bar" role="progressbar" [attr.aria-valuenow]="detail.grade" aria-valuemin="0" aria-valuemax="10" [style.width.%]="gradeToPercent(detail.grade)"></div>
            </div>
          </td>
          <td>{{ gradeValueAndUnit(detail.grade) }}</td>
        </tr>
        <tr *ngFor="let item of detail.children" [style.display]="open[detail.title] ? '' : 'none'">
          <td>{{ item.title }}</td>
          <td>{{ item.value }}</td>
          <td>
            <div class="progress dialogue-info-progress">
              <div [style.background-color]="gradeToColor(item.grade)" class="progress-bar" role="progressbar" [attr.aria-valuenow]="item.grade" aria-valuemin="0" aria-valuemax="10" [style.width.%]="gradeToPercent(item.grade)"></div>
            </div>
          </td>
          <td>{{ gradeValueAndUnit(item.grade) }}</td>
        </tr>
      </template>
    </tbody>
  </table>
</div>
