<nav>
  <a href="#"><img src="assets/img/consolidated.png" alt="consolidated return">Сводный отчет</a>
  <a href="#"><img src="assets/img/kpi.png" alt="operators KPI analysis">Оценка операторов<img src="assets/img/nav-open.png" alt="close submeny" /></a>
  <a href="#" class="nav-active">Мастер отчетов</a>
  <a href="#">Настройки</a>
  <a href="#"><img src="assets/img/loyalty.png" alt="clients loyalty">Лояльность клиентов<img src="assets/img/nav-close.png" alt="open submeny" /></a>
  <a href="#"><img src="assets/img/audiometry.png" alt="speech audiometry">Речевая аналитика</a>
  <a href="#"><img src="assets/img/reference.png" alt="reference">Реферальная программа</a>
  <a href="#"><img src="assets/img/support.png" alt="support">Поддержка</a>
  <a href="#"><img src="assets/img/billings.png" alt="billings">Биллинг</a>
  <a href="#"><img src="assets/img/settings.png" alt="settings">Настройки</a>
  <a href="#"><img src="assets/img/exit.png" alt="exit">Выход</a>
</nav>